body{
  background: #f1f50e;
}

h1, h3{
  text-align: center;
  color: rgb(13, 13, 94);
}

/* #gone{
  background: #b2c9f3;
}

#menu{
  background: #6b96e6;
} */

li {
  padding: 5px;
  margin: 5px;
  background: #bdd1f5;
}

#add-new{
  text-align: center;
}

button{
  background: #0cc6cc;
}

.image{
  text-align: center;
}